#loli-lasso {
	position: fixed;
	border: 1px dotted;
	background: rgba(255, 255, 255, 0.1);
	display: none;
	left: 0;
	right: 0;
	width: 0;
	height: 0;
	z-index: 999;
}

body.loli-filter:after {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 998;
}