@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin 'tailwindcss-react-aria-components';

@theme {
	--font-fallback: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-noto-sans: "Noto Sans Variable", var(--font-fallback);
	--font-inter: "Inter Variable", var(--font-fallback);

	--color-background: hsl(240, 8%, 5%);
	--color-card: hsl(240, 8%, 10%);

	--color-default: hsl(240, 9%, 59%);
	--color-highlight: hsl(240, 9%, 86%);

	--color-border: hsl(240, 8%, 13%);
	--color-input: hsl(240, 8%, 12%);

	--color-divider: hsl(240, 8%, 30%);

	--shadow-base-sm: 0 1px 4px 0 #19191929;
	--shadow-base-md: 0 3px 3px 0 #19191929;
	--shadow-base-lg: 0 3px 6px 0 #1919193d;
	--shadow-base-xl: 0 6px 6px 0 #1919193d;
	--shadow-base-2xl: 0 8px 8px 0 #19191952;

	--color-base-neutral-0: #ffffff;
	--color-base-neutral-40: #fcfcfc;
	--color-base-neutral-60: #fafafa;
	--color-base-neutral-80: #f0f0f0;
	--color-base-neutral-100: #e6e6e6;
	--color-base-neutral-200: #cccccc;
	--color-base-neutral-300: #b3b3b3;
	--color-base-neutral-400: #999999;
	--color-base-neutral-500: #808080;
	--color-base-neutral-600: #666666;
	--color-base-neutral-700: #4c4c4c;
	--color-base-neutral-800: #333333;
	--color-base-neutral-900: #191919;

	--color-base-tangerine-100: #fdefd2;
	--color-base-tangerine-200: #fce0a5;
	--color-base-tangerine-300: #fad078;
	--color-base-tangerine-400: #f9c14b;
	--color-base-tangerine-500: #f7b11e;
	--color-base-tangerine-600: #c68e18;
	--color-base-tangerine-700: #946a12;
	--color-base-tangerine-800: #63470c;
	--color-base-tangerine-900: #312306;

	--color-base-sunset-100: #ffe1df;
	--color-base-sunset-200: #ffc3bf;
	--color-base-sunset-300: #ffa69e;
	--color-base-sunset-400: #ff887e;
	--color-base-sunset-500: #ff6a5e;
	--color-base-sunset-600: #cc554b;
	--color-base-sunset-700: #994038;
	--color-base-sunset-800: #662a26;
	--color-base-sunset-900: #331513;

	--shadow-base-sm: 0 1px 4px 0 #19191929;
	--shadow-base-md: 0 3px 3px 0 #19191929;
	--shadow-base-lg: 0 3px 6px 0 #1919193d;
	--shadow-base-xl: 0 6px 6px 0 #1919193d;
	--shadow-base-2xl: 0 8px 8px 0 #19191952;
}

html {
	::selection {
		color: rgb(17, 17, 17);
		background: rgb(255, 255, 255);
	}
}

@layer base {
	* {
		font-family: var(--font-noto-sans);
		font-feature-settings: "rlig", "calt";
		font-variation-settings: "opsz" 850;
		text-rendering: optimizeLegibility;

		scrollbar-width: thin;
		font-weight: 500;
		color: var(--color-highlight);
	}
}

@utility scrollbar-hidden {
	scrollbar-width: none;
}

.card {
	@apply bg-card border-1 border-border shadow-[0_3px_0_0_hsl(240,8%,8.5%)] rounded-[5px];
}

.sonner-loading-bar {
	background: white;
}
