#chibisafe-lasso {
	position: fixed;
	border: 1px dotted #fff;
	background: rgba(0, 0, 0, 0.25);
	display: none;
	left: 0;
	right: 0;
	width: 0;
	height: 0;
	z-index: 999;
}

body.chibisafe-filter:after {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 998;
}
